<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title>Convert to Title Case!</title>
</head>
<body>
	<div class='container'>
		<div class='row'>
			<div class='col-md-8'>
				<h1> Title Case Translator</h1>
				<p> Enter the phrase you would like translated into title case</p>
				<form action='/title_cased'>
					<div class='form-group'>
						<label for='phrase'> Phrase: </label>
						<input id='phrase' name='phrase' class='form-control' type='text'>
					</div>
					<button type='submit' class='btn-success'>Tanslate</button>
				</form>
			</div>
		</div> <!-- End of row -->
	</div>  <!-- End of container -->
</body>
</html>
