<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title> Convert to Title Case! </title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-10'>
                    <h1> Your phrase in title case:</h1>
                    <h3>{{ result }}</h3>
                </div>
            </div> 
            <br> <!-- End of row -->
            <strong><a href='/'>Back to input form</a></strong>
        </div>  <!-- End of container -->
    </body>
</html>
